@{
    ViewData["Title"] = "Login";
}
@model User
<script>
    function SaveDataToLocal() {
        var data = document.getElementById("username").value;
        localStorage.setItem("usernameData", data);
    }
</script>
<h1>Login</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Login">

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" id="username" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" onclick="SaveDataToLocal()" />
            </div>
        </form>
    </div>
</div>

